.recipe__image {
  flex: 0.4;
}

.recipe__details {
  flex: 0.6;
  margin-left: 2rem;
  gap: 2rem;
}

.recipe__title {
  font-size: 3rem;
}

.recipe__description {
  font-size: 1.1rem;
  line-height: 1.5;
}
