.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.activeImage,
.carouselContainer {
  max-width: 600px;
}

.activeImage {
  height: 18rem;
  width: 100%;
  object-fit: contain;
}

.carouselContainer {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  position: relative;
  padding-inline: 2rem;
  height: 3rem;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: var(--clr-light-primary);
  border: none;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: min-content;
  height: 100%;
}

.carousel {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  scroll-behavior: smooth;
  
}

.listItem {
  height: 100%;
  width: 5rem;
  flex-shrink: 0;
  z-index: 1;
  
}

.imageBtn {
  height: 100%;
  padding: 0;
  width: 100%;
  border: none;
  background: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  opacity: 0.7;
}

.imageBtn:hover,
.activeImageBtn {
  border: 1px solid #000;
}

.imageSmall {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.activeImageBtn {
  opacity: 1;

}