.recipe-form {
  width: 100%;
  padding-bottom: 4rem;
}

.form__label, 
.form__legend {
  display: block;
  margin-bottom: 0.15rem;
}

.form__legend {
  font-weight: 700;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

/* .form__input,
.form__textarea,
.select {
  font-family: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--border-radius);;
  border: 1px solid var(--clr-font-body);
  width: 100%;
} */

.form__textarea {
  margin-bottom: 0.5rem;
}

.instruction-group {
  display: flex;
  flex-direction: column;
}
