@import '../../vars.css';

.btn {
  background: var(--clr-accent);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-weight: 700;
}

.btn:hover {
  background: var(--clr-accent-hover);
}

.outline {
  color: var(--clr-accent);
  border-color: currentColor;
  font-weight: 400;
  background: var(--clr-bg-primary);
}

.outline:hover {
  background: var(--clr-btn-outline-hover);
}