.instruction + .instruction {
  margin-top: 2rem;
}

.instruction__label,
.instruction__checkbox {
  cursor: pointer;
}

.instruction__label {
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  width: max-content;
}

.instruction__checkbox {
  margin-right: 0.5rem;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid currentColor;
  display: grid;
  place-content: center;
}

.instruction__checkbox::before {
  --size: 0.8rem;

  content: "";
  width: var(--size);
  height: var(--size);
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-accent);
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.instruction__checkbox:checked::before {
  transform: scale(1);
}

.instruction__checkbox:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.instruction__text {
  margin-left: 1.8rem;
}