.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding-block: 4rem;
  gap: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  text-align: center;
}

.dishType {
  text-transform: uppercase;
  color: gray;
  font-weight: var(--font-weight-bold);
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.actionButtons {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 200px;
}

.actionBtn {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 0.875rem;
  transition: background 0.1s ease-in-out;
  flex: 1;
  text-align: center;
  margin: 0 auto;
}

.likeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--clr-accent);
  color: var(--clr-light-primary);
  font-weight: var(--font-weight-bold);
}

.likeBtn:hover {
  background: var(--clr-accent-hover);
}

.editBtn {
  color: var(--clr-accent);
  border: 1px solid currentColor;
}

.editBtn:hover {
  background: var(--clr-btn-outline-hover);
}

.deleteBtn {
  color: var(--clr-error);
  border: 1px solid currentColor;
}

.deleteBtn:hover {
  background: var(--clr-error-light);
}

.detailSection {
  background: rgba(128, 128, 128, 0.3);
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  border-radius: var(--border-radius);
  display: grid;
  row-gap: 2rem;
}

.sectionHeading {
  font-size: 1.75rem;
  display: block;
  text-align: center;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  place-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
}

.detailsLabel {
  display: block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: 0.5rem;
}

.detail {
  margin-top: 0.1rem;
  display: block;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: disc;
  list-style-position: inside;
  flex: 1;
  max-width: 600px;
}

.ingredient::marker {
  color: var(--clr-accent);

}

.directions {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
  max-width: 600px;
}

.step {
  font-size: 0.875rem;
}

.direction {
  font-size: 1rem;
}