.navbar {
  display: flex;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 3.5rem;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.left {
  width: 90%;
  position: static;
}

.logo {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}

.hamburger {
  background: none;
  border: none;
  color: var(--clr-accent);
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.navMenu {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: calc(100vh - 3.5rem);
  max-height: 0;
  top: 3.5rem;
  left: 0;
  right: 0;
  background: var(--clr-light-primary);
  transition: max-height 0.2s ease-in-out;
}

.mobileMenu {
    overflow: hidden;
}

.desktopMenu {
  display: none;
}

.navItem {
  padding-block: 0.4rem;
}

.navLink {
  width: 100%;
  cursor: pointer;
  position: relative;
  background: inherit;
  border: none;
  padding: 0;
  font-size: 1rem;
}

.navLink::after {
  content: '';
  height: 0.15rem;
  width: 100%;
  max-width: 0;
  background: var(--clr-accent);
  position: absolute;
  /* bottom: -0.5rem; */
  bottom: -0.4rem;
  left: 50%;
  transform: translate(-50%);
  transition: max-width 0.1s ease-in-out;
}

.navLink:hover::after {
  max-width: 100%;
}

.navLink.active {
  font-weight: var(--font-weight-bold);
}

.navLink.active::after {
  max-width: 100%;
}

.btn {
  display: inline-block;
  background: var(--clr-accent);
  color: var(--clr-light-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  transition: background 0.1s ease-in-out;
}

.btn:hover {
  background: var(--clr-accent-hover);
}

.expanded {
  max-height: calc(100vh - 3.5rem);
}

@media screen and (min-width: 45em) {
  .navbar {
    height: 4.5rem;
  }

  .logo {
    font-weight: var(--font-weight-bold);
    font-size: 1.75rem;
  } 

  .nav {
    width: 90%;
    max-width: 1600px;
  }

  .left,
  .navMenu {
    width: auto;
    margin: 0;
  }

  .hamburger {
    display: none;
  }

  .navMenu {
    max-height: fit-content;
    height: auto;
    flex-direction: row;
    position: static;
    font-size: 14px;
  }

  .desktopMenu {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }

  .profileDropdown {
    position: relative;
  }

  .profileDropdownButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: none;
    background: inherit;
    cursor: pointer;
    border-radius: 100px;
    padding: 0 1rem 0 0;
    /* border: 1px solid transparent; */
    /* transition: background 0.1s ease-in-out; */
  }

  .profileDropdownButton:hover {
    border-color: #000;
    background: var(--clr-btn-outline-hover);
  }

  .avatar {
    --size: 2.5rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
  }

  .userName {
    font-size: 1rem;
  }

  .profileDropdownMenu {
    position: absolute;
    width: 8rem;
    right: 0;
    top: 95%;
    gap: 0.5rem;
    background: var(--clr-light-primary);
    /* border: 3px solid var(--clr-accent); */
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: 0.25rem;
  }

  .dropdownLink {
    display: block;
    width:100%;
    background: inherit;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    text-align: left;
    font-size: 0.875rem;
  }

  .dropdownLink:hover {
    background: var(--clr-accent);
    color: var(--clr-light-primary);
  }
}
