.input {
  border: 1px solid currentColor;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  font-family: inherit;
  background: inherit;
  width: 0;
  flex: 1;
  font-size: 1rem;
}

.error {
  border-color: var(--clr-error);
}

.customRadio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radioInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
}

.inputCircle {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  border: 1px solid black;
  background: inherit;
  border-radius: 50%;
  left: -0.5rem;
  position: relative;
}

.inputCircle:after {
  --size: 75%;
  width: var(--size);
  height: var(--size);
  content: '';

  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0, 0) translate(-50%, -50%);
  background: var(--clr-accent);
  border-radius: 50%;
  transform-origin: top left;
  transition: transform 0.15s ease-in-out;
} 

.radioInput:checked + .radioLabel .inputCircle:after {
  transform: scale(1, 1) translate(-50%, -50%);
}

.radioInput:focus + .radioLabel .inputCircle {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
}