@import './vars.css';

* {
  box-sizing: border-box;
  margin: 0;
}

/* GLOBAL */
body {
  font-family: var(--ff-body);
  color: var(--clr-font-body);
  background: var(--clr-bg-primary);
  line-height: 1.5;
}

#root {
  display: grid;
  grid-template-rows: var(--height-nav) var(--height-page);
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn--add,
.btn--delete {
  background: var(--clr-success);
  border-color: var(--clr-success);
  font-weight: 700;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn--add {
  margin-top: 1rem;
}

.btn--add:hover {
  background: var(--clr-success-hover);
  border-color: var(--clr-success-hover);
}

.btn--delete {
  background: var(--clr-error);
  border-color: var(--clr-error);
}

.btn--delete:hover {
  background: var(--clr-error-hover);
  border-color: var(--clr-error-hover);
}

.btn:hover {
  background: var(--clr-secondary);
}

.btn--cta {
  background: var(--clr-accent);
  border-color: var(--clr-accent);
  color: var(--clr-primary);
  font-weight: 600;
  padding: 1rem;
  margin-top: 4rem;
}

.btn--cta:hover {
  background: var(--clr-accent-hover);
  border-color: var(--clr-accent-hover);
}


.btn--add,
.btn--delete {
  background: var(--clr-success);
  border-color: var(--clr-success);
  font-weight: 700;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn--add {
  margin-top: 1rem;
}

.btn--add:hover {
  background: var(--clr-success-hover);
  border-color: var(--clr-success-hover);
}

.btn--delete {
  background: var(--clr-error);
  border-color: var(--clr-error);
}

.btn--delete:hover {
  background: var(--clr-error-hover);
  border-color: var(--clr-error-hover);
}