:root {
  --ff-body: 'Poppins', sans-serif;

  --clr-font-body: #000000;
  --clr-bg-primary: #ffffff;
  --clr-secondary: #fff1ea;
  --clr-accent: #F15025;
  --clr-accent-hover: #b9633e;
  --clr-success: #3ab590;
  --clr-success-hover: #45dbae;
  --clr-error: #c35868;
  --clr-error-hover: #c67f89;

  --border-radius: 0.2rem;
  --border-size: 1px;
}