:root {
  --ff-body: 'Poppins', sans-serif;
  --font-weight-bold: 600;

  --clr-font-body: #000000;
  --clr-light-primary: #ffffff;
  --clr-secondary: #fff1ea;
  --clr-accent: #F15025;
  --clr-accent-hover: #d53609;
  --clr-success: #3ab590;
  --clr-success-hover: #45dbae;
  --clr-error: #c8303d;
  --clr-error-light: rgb(195, 88, 104, 0.1);
  
  --clr-btn-outline-hover: #FDE0D8;

  --clr-font-dropzone: rgb(128, 128, 128);
  --clr-dropzone-hover: rgb(240, 240, 240);

  --border-radius: 0.2em;
  --border-size: 1px;

  --min-height-page: 90vh;
}