.navbar {
  display: flex;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 3.5rem;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.left {
  width: 90%;
  position: static;
}

.logo {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}

@media screen and (min-width: 45em) {
  .navbar {
    height: 4.5rem;
  }

  .logo {
    font-weight: var(--font-weight-bold);
    font-size: 1.75rem;
  } 

  .nav {
    width: 90%;
    max-width: 1600px;
  }

  .left {
    width: auto;
    margin: 0;
  }

  .hamburger {
    display: none;
  }
}
