.addRecipe {
  display: flex;
  min-height: calc(100vh - 4.5rem);
}

.container {
  /* display: flex; */
  /* gap: 3rem; */
  /* flex-direction: column; */
  /* align-items: center */
}

.title {
  font-size: clamp(2.5rem, 9vw, 3.25rem);
  line-height: 1.1;
  flex: 1;
}